/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";

.standard-bg-color{
  background-color: #4D7BC4;
}

.image-size {
  max-width: 30px;
  margin-right: auto;
}

.nav-item .nav-link{
    font-size: 1.00rem;
    color: white;
}

.profile_picture {
  border-radius: 50%;
}

.calendar-card {
  min-height: 250px;
  min-width: 323px;
  margin-top: 55px;
  margin-left: 50px;
}

.calendar-card .calendar-header{
    margin-top: auto;
    margin-bottom: auto;
    font-size: larger;
}

a:hover{
  text-decoration: none;
}

.event-card{
  min-height: 250px;
  width: 453px;
  margin-top: 55px;
  margin-left: 100px;
  border-color: #ccddf7;
}

.event-card .card-header{
    background-color: #ccddf7;
    border-color: #ccddf7;
  }

.event-card .card-body{
    display: flex;
    flex-direction: column;
}

.event-location{
  margin-top: auto;
}

.welcome-image{
  max-width: 100px;
}

.custom-btn{
  background-color: #4D7BC4;
}
.fa{
  padding-right: 3px;
}